# Stretch Goals

- Write a blog post explaining one of today's topics.
- Find a new regression dataset from the UCI machine learning repository and use it to test out your new modeling skillz.
 [ - UCI Machine Learning Repository - Regression Datasets](https://)
- Make a list for yourself of common feature engineering techniques. Browse Kaggle kernels to learn more methods.
- Start studying for tomorrow's topic: Gradient Descent
- Try and make the ultimate model with this dataset. clean as many features as possible, engineer the most sensible features as possible and see how accurate of a prediction you can make. 
- Learn about the "Dummy Variable Trap" and how it applies to linear regression modeling.
- Learning about using linear regression to model time series data

# Intermediate Linear Regression Practice

## Use a Linear Regression model to get the lowest RMSE possible on the following dataset:

[Dataset Folder](https://github.com/ryanleeallred/datasets/tree/master/Ames%20Housing%20Data)

[Raw CSV](https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv)

## You model must include (at least):
- A log-transformed y variable
- Two polynomial features
- One interaction feature
- 10 other engineered features

What is the lowest Root-Mean-Squared Error that you are able to obtain? Share your best RMSEs in Slack!

Notes:

There may be some data cleaning that you need to do on some features of this dataset. Linear Regression will only accept numeric values and will not accept

Note* There may not be a clear candidate for an interaction term in this dataset. Include one anyway, sometimes it's a good practice for predictive modeling feature engineering in general.

In [1]:
# Incantations
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sns
from sklearn import preprocessing
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.model_selection import train_test_split

In [2]:
url = 'https://raw.githubusercontent.com/ryanleeallred/datasets/master/Ames%20Housing%20Data/train.csv'
ames = pd.read_csv(url)
print(ames.shape)
ames.head()

(1460, 81)

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

## Cleaning NaNs

In [3]:
# First, which of the columns have NaNs?
null_sums = ames.isnull().sum()
has_nulls = set(null_sums[null_sums > 0].index)
numeric_columns = set(ames.select_dtypes('number').columns)
categorical_columns = set(ames.select_dtypes(exclude='number').columns)

numeric_with_nulls = has_nulls & numeric_columns
categorical_with_nulls = has_nulls & categorical_columns

print(f'Categorical_with_nulls:\n{categorical_with_nulls}')
print(f'\nNumeric_with_nulls:\n{numeric_with_nulls}')

Categorical_with_nulls:
{'BsmtQual', 'BsmtFinType2', 'GarageType', 'Electrical', 'BsmtCond', 'Fence', 'MiscFeature', 'FireplaceQu', 'PoolQC', 'GarageFinish', 'BsmtFinType1', 'Alley', 'MasVnrType', 'GarageCond', 'GarageQual', 'BsmtExposure'}

Numeric_with_nulls:
{'LotFrontage', 'GarageYrBlt', 'MasVnrArea'}

In [4]:
# I'm going to fill NaNs for the numerical columns
ames['GarageYrBlt'].fillna(ames['GarageYrBlt'].mean(), inplace=True)
ames['LotFrontage'].fillna(0, inplace=True)
ames['MasVnrArea'].fillna(0, inplace=True)

# In the categorical columns, I'll replace NaNs with a string
# value that won't be interpreted as a NaN, so that it will
# be classified as its own category
ames.fillna("wombat", inplace=True)

## Encoding categoricals

In [5]:
# Since Shreyas already separated out the categories that are categorical-ordinal, I can
# see that there aren't that many of them.  I think I will encode these all with an 
# ordinal encoder, manually adding the proper order of the categories within.

# I separate out the ordinal columns in Ames
ordinal_columns = ['ExterQual','ExterCond','BsmtQual','BsmtCond','BsmtExposure',
                     'HeatingQC','CentralAir','KitchenQual','FireplaceQu','GarageQual',
                     'GarageCond','PoolQC','Fence']

ames_ordinal = ames[ordinal_columns].copy()

# I define the categories for each column 
ordinal_cats = [['Ex','Gd','TA','Fa','Po','wombat'], # ExterQual
                ['Ex','Gd','TA','Fa','Po','wombat'], # ExterCond
                ['Ex','Gd','TA','Fa','Po','wombat'], # BsmtQual 
                ['Ex','Gd','TA','Fa','Po','wombat'], # BsmtCond
                ['Gd','Av','Mn','No','wombat'], # BsmtExposure
                ['Ex','Gd','TA','Fa','Po','wombat'], # HeatingQC
                ['Y','N'], # CentralAir
                ['Ex','Gd','TA','Fa','Po','wombat'], # KitchenQual
                ['Ex','Gd','TA','Fa','Po','wombat'], # FireplaceQu
                ['Ex','Gd','TA','Fa','Po','wombat'], # GarageQual
                ['Ex','Gd','TA','Fa','Po','wombat'], # GarageCond
                ['Ex','Gd','TA','Fa','Po','wombat'], # PoolQC
                ['GdPrv','MnPrv','GdWo','MnWw','wombat']] # Fence

# I fit the model and create a transformed dataframe
enc = preprocessing.OrdinalEncoder(ordinal_cats)
ordinal_encoded = pd.DataFrame(enc.fit_transform(ames_ordinal),
                           columns=ames_ordinal.columns)

print(f'Shape of ordinal dataframe: {ordinal_encoded.shape}')
ordinal_encoded.head()

Shape of ordinal dataframe: (1460, 13)

,ExterQual,ExterCond,BsmtQual,BsmtCond,BsmtExposure,HeatingQC,CentralAir,KitchenQual,FireplaceQu,GarageQual,GarageCond,PoolQC,Fence
0,1.0,2.0,1.0,2.0,3.0,0.0,0.0,1.0,5.0,2.0,2.0,5.0,4.0
1,2.0,2.0,1.0,2.0,0.0,0.0,0.0,2.0,2.0,2.0,2.0,5.0,4.0
2,1.0,2.0,1.0,2.0,2.0,0.0,0.0,1.0,2.0,2.0,2.0,5.0,4.0
3,2.0,2.0,2.0,1.0,3.0,1.0,0.0,1.0,1.0,2.0,2.0,5.0,4.0
4,1.0,2.0,1.0,2.0,1.0,0.0,0.0,1.0,2.0,2.0,2.0,5.0,4.0

In [6]:
# The remaining categoricals I'll treat with one-hot encoding

# I separate out the non-ordinal categorical columns in Ames
ames_categorical = ames[list(categorical_columns - set(ordinal_columns))].copy()

# I fit the model and create a transformed dataframe
enc = preprocessing.OneHotEncoder(sparse=False)
categorical_encoded = pd.DataFrame(enc.fit_transform(ames_categorical))

print(f'Shape of categorical dataframe: {categorical_encoded.shape}')
categorical_encoded.head()

Shape of categorical dataframe: (1460, 206)

,0,1,2,3,4,5,6,7,8,9,...,196,197,198,199,200,201,202,203,204,205
0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,1.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0

## Bringing it all together

In [7]:
# I will also separate the numerical columns into their own dataframe.
numerical = ames[list(numeric_columns)].copy().drop(columns=['Id','SalePrice'])
print(f'Shape of numerical dataframe: {numerical.shape}')
numerical.head()

Shape of numerical dataframe: (1460, 36)

,EnclosedPorch,LowQualFinSF,3SsnPorch,Fireplaces,GarageCars,BedroomAbvGr,TotalBsmtSF,PoolArea,YearRemodAdd,BsmtFullBath,...,BsmtUnfSF,ScreenPorch,YearBuilt,MoSold,HalfBath,FullBath,LotFrontage,BsmtFinSF2,WoodDeckSF,LotArea
0,0,0,0,0,2,3,856,0,2003,1,...,150,0,2003,2,1,2,65.0,0,0,8450
1,0,0,0,1,2,3,1262,0,1976,0,...,284,0,1976,5,0,2,80.0,0,298,9600
2,0,0,0,1,2,3,920,0,2002,1,...,434,0,2001,9,1,2,68.0,0,0,11250
3,272,0,0,1,3,3,756,0,1970,1,...,540,0,1915,2,0,1,60.0,0,0,9550
4,0,0,0,1,3,4,1145,0,2000,1,...,490,0,2000,12,1,2,84.0,0,192,14260

In [8]:
# And so, finally, I can make a single dataframe with all our variables.
ames_all = pd.concat([numerical, ordinal_encoded, categorical_encoded], axis=1)
print(f'Shape of final dataframe: {ames_all.shape}')

# And our dependent variable, in two forms
price = ames['SalePrice']
price_log = np.log(ames['SalePrice'])

Shape of final dataframe: (1460, 255)

## Regression

In [9]:
def regress_this(X, y, test_size=0.5):
    """
    Runs a linear regression and prints out stats
    
    X: array of variables
    y: array of results
    test_size: parameter for train_test_split
    """
    # Slit into test and train datasets
    X_train, X_test, Y_train, Y_test = train_test_split(X, y, test_size=.5, random_state=42)

    # fit model using train datasets
    model = LinearRegression()
    model.fit(X_train, Y_train)

    # Create new predictions using x_test
    y_pred = model.predict(X_test)

    # Measure Accuracy using y_test and y_pred
    RMSE = (np.sqrt(mean_squared_error(Y_test, y_pred)))
    R2 = r2_score(Y_test, y_pred)

    print('RMSE is {}'.format(RMSE))
    print('R^2 is {}'.format(R2))

    print("Coefficients: ", model.coef_[0])
    print("Intercepts: ", model.intercept_)

In [10]:
# Regressing to the ordinal variables works well
y = price_log
X = ordinal_encoded

regress_this(X, y)

RMSE is 0.22183954719408833
R^2 is 0.704881602643764
Coefficients:  -0.13602501293892735
Intercepts:  12.804623573611805

In [11]:
# Same with the numericals
y = price_log
X = numerical
regress_this(X, y)

RMSE is 0.15403676629806656
R^2 is 0.8577123753513386
Coefficients:  0.00023072501965411908
Intercepts:  16.669220623316715

In [12]:
# Regressing to the one-hot encoded categoricals, however, just messes everything up
y = price_log
X = categorical_encoded
regress_this(X, y)

RMSE is 1186214034890.4902
R^2 is -8.438095957958425e+24
Coefficients:  -3681432160.42371
Intercepts:  733217205816.3315

## No more one-hot nonsense

In [13]:
# Alright, what if I stuck to regular encoding?

# This handy function courtesy of Carlos Gutierrez.
def dummyEncode(df):
    columnsToEncode = list(df.select_dtypes(include=['category','object']))
    le = preprocessing.LabelEncoder()
    for feature in columnsToEncode:
        try:
            df[feature] = le.fit_transform(df[feature])
        except:
            print('Error encoding '+feature)
    return df

In [14]:
# Categoricals are now encoded as just regular numbers
new_cats = dummyEncode(ames_categorical)
new_cats.head()

,Street,MiscFeature,Foundation,BsmtFinType1,Heating,LotShape,BldgType,Functional,Exterior2nd,RoofMatl,...,Neighborhood,MasVnrType,Condition2,Electrical,LandSlope,GarageType,Exterior1st,SaleCondition,GarageFinish,Condition1
0,1,4,2,2,1,3,0,6,13,1,...,5,1,2,4,0,1,12,4,1,2
1,1,4,1,0,1,3,0,6,8,1,...,24,2,2,4,0,1,8,4,1,1
2,1,4,2,2,1,0,0,6,13,1,...,5,1,2,4,0,1,12,4,1,2
3,1,4,0,0,1,0,0,6,15,1,...,6,2,2,4,0,5,13,0,2,2
4,1,4,2,2,1,0,0,6,13,1,...,15,1,2,4,0,1,12,4,1,2

In [15]:
# And it fixes the problem! ()
y = price_log
X = new_cats
regress_this(X, y)

RMSE is 0.27726673380905636
R^2 is 0.5389862522878113
Coefficients:  0.12865872609558085
Intercepts:  11.129945482501789

In [16]:
# And if I combine together all my data, I get the best results yet.
ames_all = pd.concat([numerical, ordinal_encoded, new_cats], axis=1)

y = price_log
X = ames_all
regress_this(X, y)

RMSE is 0.15612760308016202
R^2 is 0.8538234430656289
Coefficients:  0.00035480018115747764
Intercepts:  17.842285103920542

## Feature engineering
Added last-minute to fulfill the requirements

In [21]:
# Two polynomials, one interaction (I already engineered a BUNCH of features through encoding)
ames_all['poly1'] = ames_all['2ndFlrSF']**2
ames_all['poly2'] = ames_all['TotalBsmtSF']**2
ames_all['interact'] = ames_all['2ndFlrSF'] * ames_all['TotalBsmtSF']

y = price_log
X = ames_all
regress_this(X, y)

RMSE is 0.13700406659768813
R^2 is 0.8874396953205534
Coefficients:  0.0001845076489162665
Intercepts:  12.617960513126672

Slightly better than what we had before the engineered features!!